=labelled_form_for [:admin, @page], :url => admin_pages_path do |f|
	
	#content_body.content_body
		- @page_title = "New page | Page Manager"
		%h1 Create new page
		=flash_message

		=note "Fill in the form below to create a new page"

		=render :partial=>"form", :locals=>{:f=>f}
	
	#content_sidebar
		=render :partial => "sidebar", :locals=>{:f=>f}
