- if @asset
	.box
		%h2 Actions
		%fieldset.buttons
			=link_to "Cancel", admin_assets_path, :class=>"button cancel"
			- unless @asset.new_record?
				=link_to "Delete this asset", admin_asset_path(@asset), :method => :delete, :confirm => "Are you sure you want to delete this asset?", :class=>"button delete"
			=f.submit "Save this asset", :class=>"button save bottom"

- if @zip_upload
	.box
		%h2 Actions
		%fieldset.buttons
			=link_to "Cancel", admin_assets_path, :class=>"button cancel"
			=f.submit "Upload assets", :class=>"button save bottom"
						
- if !@zip_upload && ( !@asset || !@asset.new_record? )
	.box
		%h2 Tools
		= link_to "New asset", new_admin_asset_path, :class => "button new"
		= link_to "Bulk ZIP upload", zip_upload_admin_assets_path, :class => "button new bottom"
		
- if !@asset
	.box
		%h2 Folders
		%ul.asset_folder_list
			=asset_folder_tree(AssetFolder.root)
