%legend SEO settings
= f.fields_for :seo do |ff|
	.full= ff.text_field :title, :value => (f.object.seo["title"]), :label => "Meta Title"
	.full= ff.text_area :description, :value => (f.object.seo["description"]), :label => "Meta Description", :rows => 4
	.full= ff.text_field :keywords, :value => (f.object.seo["keywords"]), :label => "Meta Keywords"
