- if lock_status == :good
	#lock_notice You have a lock on this article
	
- if lock_status == :bad
	#lock_warning
		This article is also being edited by
		= article.lock.user.email
		and your changes may be overwritten