%h1= @page_title = "403: Forbidden"

%p.explanation You do not have permission to access that page.

%p.additional Please check the address and try again.

.buttons
	=link_to "Go back", :back, :class => "button back"