%h1= @page_title = "404: Page not found"

%p.explanation Sorry, the page you requested was not found.

%p.additional Please check the address and try again.

.buttons
	=link_to "Go back", :back, :class => "button back"