@import url(constants.css);
@import url(reset.css);
@import url(text.css);
html {
  background: #aaaabb;
}

body {
  width: 540px;
  padding: 1em;
  margin: 0;
  min-height: 600px;
  background: white;
  color: #222222;
}

img {
  line-height: 0;
}
