/*
Syntax error: File to import not found or unreadable: constants.
              Load paths:
                Compass::SpriteImporter
                /Users/matt/Websites/personal/Braincube/public/stylesheets/sass
                /Users/matt/Websites/personal/Braincube/app/sass
                /Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/compass-0.12.2/frameworks/blueprint/stylesheets
                /Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/compass-0.12.2/frameworks/compass/stylesheets
        on line 5 of /Users/matt/Websites/personal/Braincube/app/sass/content.sass

1: //****************************************************************************
2: // tinyMCE-only stylesheet - uses other styles too!
3: //****************************************************************************
4: 
5: @import constants
6: @import reset
7: @import text
8: 
9: html
10: 	background: #aab

Backtrace:
/Users/matt/Websites/personal/Braincube/app/sass/content.sass:5
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/import_node.rb:64:in `import'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/import_node.rb:25:in `imported_file'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/perform.rb:149:in `visit_import'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/perform.rb:20:in `visit'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/perform.rb:29:in `visit_children'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/perform.rb:41:in `with_environment'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/perform.rb:28:in `visit_children'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/perform.rb:49:in `visit_root'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/perform.rb:20:in `visit'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/tree/root_node.rb:20:in `render'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/engine.rb:308:in `_render'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/engine.rb:256:in `render'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/util.rb:354:in `silence_sass_warnings'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/sass-3.2.0.alpha.237/lib/sass/../sass/engine.rb:256:in `render'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/haml-3.1.6/vendor/sass/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/haml-3.1.6/vendor/sass/lib/sass/plugin/compiler.rb:202:in `update_stylesheets'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/haml-3.1.6/vendor/sass/lib/sass/plugin/compiler.rb:200:in `each'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/haml-3.1.6/vendor/sass/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/haml-3.1.6/vendor/sass/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/haml-3.1.6/vendor/sass/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/haml-3.1.6/vendor/sass/lib/sass/plugin/rack.rb:51:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/actionpack-3.0.20/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/actionpack-3.0.20/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/rack-1.2.7/lib/rack/methodoverride.rb:24:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/actionpack-3.0.20/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/actionpack-3.0.20/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/actionpack-3.0.20/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/actionpack-3.0.20/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/activerecord-3.0.20/lib/active_record/query_cache.rb:32:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/activerecord-3.0.20/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/activerecord-3.0.20/lib/active_record/query_cache.rb:12:in `cache'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/activerecord-3.0.20/lib/active_record/query_cache.rb:31:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/activerecord-3.0.20/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/actionpack-3.0.20/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/activesupport-3.0.20/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/actionpack-3.0.20/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/rack-1.2.7/lib/rack/sendfile.rb:106:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/actionpack-3.0.20/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/actionpack-3.0.20/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/railties-3.0.20/lib/rails/rack/logger.rb:13:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/rack-1.2.7/lib/rack/runtime.rb:17:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/activesupport-3.0.20/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/rack-1.2.7/lib/rack/lock.rb:13:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/rack-1.2.7/lib/rack/lock.rb:13:in `synchronize'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/rack-1.2.7/lib/rack/lock.rb:13:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/actionpack-3.0.20/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/railties-3.0.20/lib/rails/application.rb:168:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/railties-3.0.20/lib/rails/application.rb:77:in `send'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/railties-3.0.20/lib/rails/application.rb:77:in `method_missing'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/railties-3.0.20/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/rack-1.2.7/lib/rack/content_length.rb:13:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/rack-1.2.7/lib/rack/chunked.rb:15:in `call'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/rack-1.2.7/lib/rack/handler/mongrel.rb:67:in `process'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/mongrel-1.1/lib/mongrel.rb:155:in `process_client'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/mongrel-1.1/lib/mongrel.rb:154:in `each'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/mongrel-1.1/lib/mongrel.rb:154:in `process_client'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/mongrel-1.1/lib/mongrel.rb:281:in `run'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/mongrel-1.1/lib/mongrel.rb:281:in `initialize'
/Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/mongrel-1.1/lib/mongrel.rb:281
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: constants.\A               Load paths:\A                 Compass::SpriteImporter\A                 /Users/matt/Websites/personal/Braincube/public/stylesheets/sass\A                 /Users/matt/Websites/personal/Braincube/app/sass\A                 /Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/compass-0.12.2/frameworks/blueprint/stylesheets\A                 /Users/matt/.rvm/gems/ree-1.8.7-2012.02/gems/compass-0.12.2/frameworks/compass/stylesheets\A         on line 5 of /Users/matt/Websites/personal/Braincube/app/sass/content.sass\A \A 1: //****************************************************************************\A 2: // tinyMCE-only stylesheet - uses other styles too!\A 3: //****************************************************************************\A 4: \A 5: @import constants\A 6: @import reset\A 7: @import text\A 8: \A 9: html\A 10: 	background: #aab"; }
