- content_for :wrapper do
	%body#iframe
		#iframe_wrapper
			= yield

= render :partial => "layouts/admin/parts/head"

= javascript_include_tag "http://www.google.com/jsapi?key=#{Braincube::Config::GoogleApiKey}"
