- if venues.empty? && !params[:page]
	%tr
		%td.empty{:colspan => 3}
			No venues found
			
- venues.each do |venue|
	%tr{ :class => cycle(:even, :odd) }
		%td
			= link_to venue.title, edit_admin_venue_path( venue )
			%span.extra= venue.address_elements.join(", ")
		%td= print_bool(venue.enabled)
		%td.destroy= delete_link "Delete venue", admin_venue_path(venue.id)
