=labelled_form_for [:admin, @venue] do |f|
	
	#content_body.content_body

		- @page_title = "#{@venue.title} | Venue Manager"
		%h1 
			Venue:
			=@venue.title
		=flash_message
		
		=note "Edit the venue's details using the form below"
		
		=render :partial=>"form", :locals=>{:f=>f}
		
	#content_sidebar
		=render :partial => "sidebar", :locals => {:f => f}