=note "Choose the destination of the link. Leave blank to omit the link."

= f.fields_for :properties do |ff|
	.full= ff.text_field_tag :image_link_target, :label => "Link target", :required => true, :value => f.object.properties[:image_link_target]