=labelled_form_for [:admin, @city], :url => admin_cities_path do |f|
	
	#content_body.content_body
		- @page_title = "New city | City Manager"
		%h1 Create new city
		=flash_message

		=note "Fill in the form below to create a new city"

		=render :partial=>"form", :locals=>{:f=>f}
	
	#content_sidebar
		=render :partial => "sidebar", :locals=>{:f=>f}
