.asset_attachment_tools
	%h3.top Tools
	= link_to "Add asset", "#", :class => "button new"
	= link_to "Clear all", "#", :class => "button delete"
	
.asset_attachment_items
	%h3.top Attached items
	
	.attachment_code{ :data => { :code => render(:partial => '/admin/assets/attachments/asset_link', :locals => { :f => f, :asset_link => AssetLink.new }).gsub("\n", "") } }
		
	.empty{ :style => ("display: none" unless f.object.asset_links.empty?) }
		There are no assets attached
	
	%ul.asset_attachment_list
		- f.object.asset_links.sort{ |a,b| a.sort_order <=> b.sort_order }.each do |asset_link|
			= render :partial => "/admin/assets/attachments/asset_link", :locals => { :f => f, :asset_link => asset_link }
