//****************************************************************************
// Menu and navigation elements
//***************************************************************************/


//****************************************************************************
// Main menu
//***************************************************************************/

ul#main_navigation

	@extend .clearfix
	position: absolute
	bottom: 4px
	font-size: 1.1em
	text-transform: uppercase

	li
		float: left
		a
			@extend .small_rounded_top, .fade
			padding: 0.5em 0.7em
			margin-right: 0.7em
			color: $grey_4
			font-weight: bold
			text-decoration: none !important
			
			&:hover
				background: $grey_2
				color: white
				text-decoration: none
				

		&.active a
			background: $grey_5
			color: $grey_1




//****************************************************************************
// Lower menu
//***************************************************************************/
			
#sub_navigation_wrapper

	background: $grey_5
	height: 1em
	padding: 0.8em 0 0.9em 0
	text-transform: uppercase
	font-size: 0.9em
	border-bottom: 1px $grey_4 solid
	
	ul#sub_navigation
		@extend .container_12
		li
			float: left
			a
				@extend .small_rounded_top, .fade
				padding: 0.4em 1em 0.5em 1em
				text-decoration: none  !important
				font-weight: bold
				background: none
				margin-right: 1em
				color: $grey_2
				border: 1px $grey_5 solid
				border-bottom: none
				
				&:hover
					text-decoration: none
					background: #fff
					color: $grey_1
					z-index: 5
					
			&.active a
				background: white
				color: $grey_1
				z-index: 5
				position: relative

			&.active a, a:hover
				border-color: $grey_4
